<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<style type="text/css">
		table { width: 100%; }
		.header { padding: 1rem;background: #5B7B88; }
		.header h1 { font-size: 3rem; color:#fff; }
		.main { padding: 0 2rem; }
		.footer { margin-top: 1rem;padding: 1rem;border-top: 1px solid #5B7B88; }
		.footer p { text-align: center; }
	</style>
</head>
<body>
	<table class="body"><tr><td class="center" align="center" valign="top">
		<div class="header">
			<h1>Craftini 2016</h1>
		</div>
		<table class="main"><tr><td>
			<h1>Receipt</h1>
			<p>Thank you for registering to Craftini!</p>
			
			<table>
				<thead><tr>
					<th class="item">Item</th>
					<th class="actions"></th>
					<th class="price">Price</th>
				</tr></thead>
				<tbody>
					{% for item in order.getLineItems %}
						<tr>
							<td class="item">
								<strong>{{ item.description }}</strong><br>
								{% if item.options.attendeeName is defined %}
									<em>{{ item.options.attendeeName }} - {{ item.options.attendeeEmail }}</em>
								{% endif %}
								{% if item.options.attendeeNames is defined %}
									{% set names = item.options.attendeeNames|split("\n") %}
									{% set emails = item.options.attendeeEmails|split("\n") %}
									{% for k,v in names[:4] %}
										<em>{{ v }} - {{ attribute(emails,k) }}</em><br>
									{% endfor %}
								{% endif %}
							</td>
							<td class="price">{{ item.price|currency(order.currency) }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td class="total" colspan="2">Total: {{ order.totalPrice|currency(order.currency) }}</td>
					</tr>
				</tbody>
			</table>
			
			<h2>Questions?</h2>
			<p>
				Contact Bryan Redeagle at 219-671-7402 or
				<a href="mailto:info@craftini.net">info@craftini.net</a>
			</p>
		</td></tr></table>
	</td></tr></table>
</body>
</html>