<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<style type="text/css">
		table {
			width: 100%;
		}
		.header {
			padding: 1rem;
			background: #5B7B88;
		}
		.main {
			padding: 0 2rem;
		}
		.footer {
			margin-top: 1rem;
			padding: 1rem;
			border-top: 1px solid #5B7B88;
		}
		.footer p {
			text-align: center;
		}
	</style>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
				<center>
					<table class="header">
						<tr>
							<td><img src="https://craftini.net/assets/images/logo.png"></td>
						</tr>
					</table>
					
					<table class="main">
						<tr>
							<td>
								<p>Hey {{user.friendlyName}},</p>

								<p>Thanks for creating an account with {{siteName}}! To activate your account, click the following link:</p>

								<p>{{link}}</p>

								<p>If you were not expecting this email, just ignore it.</p>
							</td>
						</tr>
					</table>
					
					<table class="footer">
						<tr>
							<td>
								<p>Copyright © {{ now.year }} {{siteName}}.</p>

								<p>Our mailing address is: <br>123 Happy Street</p>
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
	</table>
</body>
</html>