{% extends '_layout' %}

{% set cart = craft.commerce.cart %}

{% block content %}
	<h1>Checkout</h1>
	
	<form class="form" method="POST">
		<input type="hidden" name="action" value="commerce/cart/updateCart">
		<input type="hidden" name="redirect" value="/register/payment">
		<input type="hidden" name="paymentMethodId" value="3">
		{{ getCsrfInput() }}
		
		<div class="field">
			<label for="email">Email</label>
			<input id="email" type="email" value="{{ cart.email }}" name="email" placeholder="email@site.com" required>
		</div>
		
		{% set countries = craft.commerce.countriesList %}
		{% set states = craft.commerce.statesArray %}
		
		<div class="lucky two column grid">
			<div class="address column">
				<h2>Shipping Address</h2>
				
				<div class="field">
					<label for="shippingAddress-firstName">First Name *</label>
					<input type="text" id="shippingAddress-firstName" name="shippingAddress[firstName]" value="{{ cart.shippingAddress ? shippingAddress.firstName : '' }}" required>
				</div>
				
				<div class="field">
					<label for="shippingAddress-lastName">Last Name *</label>
					<input type="text" id="shippingAddress-lastName" name="shippingAddress[lastName]" value="{{ cart.shippingAddress ? shippingAddress.lastName : '' }}" required>
				</div>
				
				<div class="field">
					<label for="shippingAddress-businessName">Business Name</label>
					<input type="text" id="shippingAddress-businessName" name="shippingAddress[businessName]" value="{{ cart.shippingAddress ? shippingAddress.businessName : '' }}">
				</div>
				
				<div class="field">
					<label for="shippingAddress-address1">Address 1</label>
					<input type="text" id="shippingAddress-address1" name="shippingAddress[address1]" value="{{ cart.shippingAddress ? shippingAddress.address1 : '' }}">
				</div>
				
				<div class="field">
					<label for="shippingAddress-address2">Address 2</label>
					<input type="text" id="shippingAddress-address2" name="shippingAddress[address2]" value="{{ cart.shippingAddress ? shippingAddress.address2 : '' }}">
				</div>
				
				<div class="field">
					<label for="shippingAddress-city">City</label>
					<input type="text" id="shippingAddress-city" name="shippingAddress[city]" value="{{ cart.shippingAddress ? shippingAddress.city : '' }}">
				</div>
				
				<div class="field">
					<label for="shippingAddress-zipCode">Zip Code</label>
					<input type="text" id="shippingAddress-zipCode" name="shippingAddress[zipCode]" value="{{ cart.shippingAddress ? shippingAddress.zipCode : '' }}">
				</div>
				
				<div class="field">
					<label for="shippingAddress-countryId">Country *</label>
					<select id="shippingAddress-countryId" class="address-country" name="shippingAddress[countryId]">
						{% for key, option in countries %}
							{% set optionValue = (cart.shippingAddress ? cart.shippingAddress.countryId : '') %}
							<option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="field">
					<label for="shippingAddress-state">State</label>
					{% set options = (cart.shippingAddress and states[cart.shippingAddress.countryId] is defined ? states[cart.shippingAddress.countryId] : []) %}
					<select id="shippingAddress-stateId" name="shippingAddress[stateValue]" data-modelname="shippingAddress" class="address-stateId {% if options|length == 0 or (cart.shippingAddress and cart.shippingAddress.stateName) %} hidden{% endif %}">
						{% for key, option in options %}
							{% set optionValue = (cart.shippingAddress ? cart.shippingAddress.stateId : '') %}
							<option value="{{ key }}" {% if key == optionValue %}selected{% endif %}>{{ option }}</option>
						{% endfor %}
					</select>
					<input type="text" id="{{ modelName }}-stateName" data-modelname="shippingAddress"
						class="address-stateName{% if options|length > 0 or (cart.shippingAddress and cart.shippingAddress.stateId) %} hidden{% endif %}"
						{% if cart.shippingAddress and cart.shippingAddress.stateName %} name="shippingAddress[stateValue]" value="{{ cart.shippingAddress.stateName}}"{% endif %}>
				</div>
				
				<div class="field">
					<label for="shippingAddress-phone">Phone</label>
					<input type="text" id="shippingAddress-phone" name="shippingAddress[phone]" value="{{ cart.shippingAddress ? shippingAddress.phone : '' }}">
				</div>
			</div>
			<div class="address column">
				<h2>Billing Address</h2>
				
				<div class="field">
					<label for="billingAddress-firstName">First Name *</label>
					<input type="text" id="billingAddress-firstName" name="billingAddress[firstName]" value="{{ cart.billingAddress ? billingAddress.firstName : '' }}" required>
				</div>
				
				<div class="field">
					<label for="billingAddress-lastName">Last Name *</label>
					<input type="text" id="billingAddress-lastName" name="billingAddress[lastName]" value="{{ cart.billingAddress ? billingAddress.lastName : '' }}" required>
				</div>
				
				<div class="field">
					<label for="billingAddress-businessName">Business Name</label>
					<input type="text" id="billingAddress-businessName" name="billingAddress[businessName]" value="{{ cart.billingAddress ? billingAddress.businessName : '' }}">
				</div>
				
				<div class="field">
					<label for="billingAddress-address1">Address 1</label>
					<input type="text" id="billingAddress-address1" name="billingAddress[address1]" value="{{ cart.billingAddress ? billingAddress.address1 : '' }}">
				</div>
				
				<div class="field">
					<label for="billingAddress-address2">Address 2</label>
					<input type="text" id="billingAddress-address2" name="billingAddress[address2]" value="{{ cart.billingAddress ? billingAddress.address2 : '' }}">
				</div>
				
				<div class="field">
					<label for="billingAddress-city">City</label>
					<input type="text" id="billingAddress-city" name="billingAddress[city]" value="{{ cart.billingAddress ? billingAddress.city : '' }}">
				</div>
				
				<div class="field">
					<label for="billingAddress-zipCode">Zip Code</label>
					<input type="text" id="billingAddress-zipCode" name="billingAddress[zipCode]" value="{{ cart.billingAddress ? billingAddress.zipCode : '' }}">
				</div>
				
				<div class="field">
					<label for="billingAddress-countryId">Country *</label>
					<select id="billingAddress-countryId" class="address-country" name="billingAddress[countryId]">
						{% for key, option in countries %}
							{% set optionValue = (cart.billingAddress ? cart.billingAddress.countryId : '') %}
							<option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="field">
					<label for="billingAddress-state">State</label>
					{% set options = (cart.billingAddress and states[cart.billingAddress.countryId] is defined ? states[cart.billingAddress.countryId] : []) %}
					<select id="billingAddress-stateId" name="billingAddress[stateValue]" data-modelname="billingAddress" class="address-stateId {% if options|length == 0 or (cart.billingAddress and cart.billingAddress.stateName) %} hidden{% endif %}">
						{% for key, option in options %}
							{% set optionValue = (cart.billingAddress ? cart.billingAddress.stateId : '') %}
							<option value="{{ key }}" {% if key == optionValue %}selected{% endif %}>{{ option }}</option>
						{% endfor %}
					</select>
					<input type="text" id="{{ modelName }}-stateName" data-modelname="billingAddress"
						class="address-stateName{% if options|length > 0 or (cart.billingAddress and cart.billingAddress.stateId) %} hidden{% endif %}"
						{% if cart.billingAddress and cart.billingAddress.stateName %} name="billingAddress[stateValue]" value="{{ cart.billingAddress.stateName}}"{% endif %}>
				</div>
				
				<div class="field">
					<label for="billingAddress-phone">Phone</label>
					<input type="text" id="billingAddress-phone" name="billingAddress[phone]" value="{{ cart.billingAddress ? billingAddress.phone : '' }}">
				</div>
			</div>
		</div>

		<div class="buttons"><button class="lucky button">Continue to Payment</button></div>
	</form>
{% endblock %}