{% extends '_layout' %}

{% set cart = craft.commerce.cart %}

{% block content %}
	{% if cart.lineItems|length %}
		<div class="cart">
			<h1>Cart</h1>
			
			<table>
				<thead><tr>
					<th class="item">Item</th>
					<th class="actions"></th>
					<th class="price">Price</th>
				</tr></thead>
				<tbody>
					{% for item in cart.lineItems %}
						<tr>
							<td class="item">
								<strong>{{ item.description }}</strong><br>
								{% if item.options.attendeeName is defined %}
									<em>{{ item.options.attendeeName }} - {{ item.options.attendeeEmail }}</em>
								{% endif %}
								{% if item.options.attendeeNames is defined %}
									{% set names = item.options.attendeeNames|split("\n") %}
									{% set emails = item.options.attendeeEmails|split("\n") %}
									{% for k,v in names[:4] %}
										<em>{{ v }} - {{ attribute(emails,k) }}</em><br>
									{% endfor %}
								{% endif %}
							</td>
							<td class="actions">
								<form method="POST">
									<input type="hidden" name="action" value="commerce/cart/removeLineItem"/>
									<input type="hidden" name="redirect" value="register"/>
									{{ getCsrfInput() }}
									<input type="hidden" name="lineItemId" value="{{ item.id }}"/>
									<input type="submit" class="small lucky button" value="Remove"/>
								</form>
							</td>
							<td class="price">{{ item.price|currency(cart.currency) }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td class="total" colspan="3">Total: {{ cart.totalPrice|currency(cart.currency) }}</td>
					</tr>
				</tbody>
			</table>
			
			<div class="buttons">
				<a class="lucky inverse button" href="{{ url('register/checkout') }}">Checkout</a>
			</div>
		</div>
	{% endif %}
	
	<h1>Purchase Tickets</h1>
	
	<div class="tickets">
		{% set product = craft.commerce.products.slug('2016-conference').first %}
		{% set options = craft.craftini.getOptions %}
		{% for v in product.variants %}
			<div class="ticket form">
				<h2>{{ v.title }} Ticket – <em>{{ v.price|currency('USD', true) }}</em></h2>
				{{ v.details }}
				<div class="choose buttons"><a class="lucky button">Choose</a></div>
				<div class="hidden options">
					<form method="POST">
						<input type="hidden" name="action" value="commerce/cart/updateCart">
						<input type="hidden" name="redirect" value="register">
						<input type="hidden" name="purchasableId" value="{{ v.purchasableId }}">
						<input type="hidden" name="qty" value="1">
						{{ getCsrfInput() }}
						
						<div class="lucky two column grid">
							{% if v.groupTicket %}
								<div class="column">
									<div class="field">
										<label for="attendeeNames">Attendee Names (one per line)</label>
										<textarea id="attendeeNames" name="options[attendeeNames]" required>{{ options.attendeeNames ? options.attendeeNames }}</textarea>
									</div>
								</div>
								<div class="column">
									<div class="field">
										<label for="attendeeEmails">Attendee Emails (one per line)</label>
										<textarea id="attendeeEmails" name="options[attendeeEmails]" required>{{ options.attendeeEmails ? options.attendeeEmails }}</textarea>
									</div>
								</div>
							{% else %}
								<div class="column">
									<div class="field">
										<label for="attendeeName">Attendee Name</label>
										<input id="attendeeName" type="text" name="options[attendeeName]"{% if options.attendeeName %} value="{{ options.attendeeName }}"{% endif %} required>
									</div>
								</div>
								<div class="column">
									<div class="field">
										<label for="attendeeEmail">Attendee Email</label>
										<input id="attendeeEmail" type="email" name="options[attendeeEmail]"{% if options.attendeeEmail %} value="{{ options.attendeeEmail }}"{% endif %} required>
									</div>
								</div>
							{% endif %}
						</div>
						<div class="buttons"><button class="lucky button">Add to Cart</button></div>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
