{% extends '_layout' %}

{% set cart = craft.commerce.cart %}

{% block content %}
	<h1>Payment</h1>
	
	<form method="POST" class="form">
		<input type="hidden" name="action" value="commerce/payments/pay"/>
		<input type="hidden" name="redirect" value="/register/thanks?number={number}"/>
		<input type="hidden" name="cancelUrl" value="/register/payment"/>
		{{ getCsrfInput() }}
		
		<noscript>
			<div class="bs-callout bs-callout-danger">
				<h4>JavaScript is not enabled!</h4>

				<p>This payment form requires your browser to have
					JavaScript enabled. Please activate
					JavaScript and reload this page. Check <a
							href="http://enable-javascript.com"
							target="_blank">enable-javascript.com</a>
					for more informations.</p>
			</div>
		</noscript>
		
		<script
				src="//checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-key="{{ cart.paymentMethod.settings.publishableKey ?? '' }}"
				data-name="Craftini Conference"
				data-description="2016 Registration"
				data-email="{{ cart.email }}"
				data-amount="{{ cart.totalPrice * 100 }}"
				data-locale="auto">
		</script>
	</form>
{% endblock %}