{% extends "_layout" %}

{% set number = craft.request.param('number') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% block content %}
	<h1>Thanks for Registering!</h1>
	
	<p>
		You should be receiving an email receipt shortly.
		The attendees that were registered should be receiving confirmation emails
		from the websitea and the chat service, and an invite for the live stream.
	</p>
	
	<p>
		If you don't want to wait for the email, you can download your receipt
		<a href="{{ order.getPdfUrl }}" target="_blank">here</a>.
	</p>
{% endblock %}