// Change some base options
@import "base";
$root-color: #5B7B88;
$root-font-family: 'Source Serif Pro', serif;

// Then add our framework.
@import "sanitize";
@import "grid-mixin";
@import "menu-mixin";
@import "button";
@import "form";
@import "embed";
@import "table";

// Some style defaults
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
}
a {
	color: #E56D7C;
}
hr {
	display: block;
	margin: 2rem auto;
	width: 80%;
	border: none;
	border-bottom: 1px solid #5B7B88;
}

// Button
.lucky.button {
	@include lucky-button($background: transparent, $color: #fff, $rounded: 4px);
	font-family: 'Source Serif Pro', serif;
	border: 1px solid #fff;
	
	&:hover {
		background: #fff;
		color: #5B7B88;
	}
}

.buttons {
	text-align: right;
	
	.button {
		display: inline-block;
		margin: 0;
		padding: 0.4rem 1rem;
		color: #fff;
		font-size: 1rem;
		text-align: center;
		text-decoration: none;
		background: #4372A7;
		border:none;
		cursor: pointer;
		border-radius: 4px;
		
		&:hover {
			background: #002659;
		}
		
		&:active {
			background: #4372A7;
		}
	}
}

// Menus
.lucky.menu,
.lucky.menu .left,
.lucky.menu .right {
	@include lucky-menu($vertical: true);
}
.lucky.menu {
	.item {
		@include lucky-menu-item;
		font-family: 'Source Serif Pro', serif;
	}

	.label {
		@include lucky-menu-label;
	}
	
	&.logo {
		padding: 1.375rem;
		color: #fff;
		
		.item {
			text-align: center;
			padding: 0;
		}
		
		img {
			height: 4.125rem;
		}
		
		.lucky.button {
			width: 100%;
		}
	}
	
	&.main {
		border-bottom: 1px solid #5B7B88;
		
		.item {
			font-size: 1.125;
			color: #5B7B88;
		}
		
		.label {
			padding: 1.2rem 0.8rem;
		}
		
		.header {
			font-weight: 700;
		}
		
		.item:not(.header):hover {
			background: #5B7B88;
			color: #fff;
		}
	}
}

// Header
#site>header h1 {
	margin: 0;
	padding: 1rem 2rem 4rem;
	font-size: 3.75rem;
	text-align: center;
	line-height: 1.2;
	color: #fff;
}

// Forms
.form {
	@include lucky-form;
}

// Content
#site>main {
	padding: 2rem;
	
	.flash {
		margin-bottom: 1rem;
		padding: 1rem;
		font-size: 1.25rem;
		color: #fff;
		
		&.error {
			background: #c33;
		}
		
		&.success {
			background: #373;
		}
		
		ul {
			margin-left: 1rem;
		}
	}
	
	.notice {
		font-size: 1.75rem;
		text-align: center;
	}
	
	// Just make things hidden
	.hidden {
		display: none;
	}
}

section.text {
	margin-bottom: 2rem;
}
section.image {
	overflow: hidden;
}
section.image aside.left {
	float: left;
	padding-right: 2rem;
	padding-bottom: 2rem;
}
section.image aside.right {
	float: right;
	padding-left: 2rem;
	padding-bottom: 2rem;
}
.lucky.grid {
	@include lucky-grid;
	
	.column {
		@include lucky-column('full');
		padding: 0 1rem;
	}
}

// Tickets
.tickets>.ticket {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #5B7B88;
}

// Cart
.cart {
	margin-bottom: 2rem;
	padding: 2rem;
	background: #5B7B88;
	color: #fff;
	
	h1 { color: inherit; }
	
	table {
		@include lucky-table;
		margin-bottom: 1rem;
		border: none;
		
		th, td:not(.total) {
			border: none;
			border-bottom: 0.0625rem solid #fff;
		}
		
		thead {
			background: transparent;
			color: #fff;
		}
		
		.price {
			text-align: right;
		}
		
		.total {
			text-align: right;
			font-weight: 700;
			border: none;
		}
	}
	
	.small.button {
		padding: 0 1rem;
		font-size: 0.9rem;
	}
	
	.inverse.button {
		
		background: #fff;
		color: #5B7B88;
	}
}

// Speakers
.lucky.speaker.grid {
	.column {
		margin-bottom: 2rem;
	}
	
	.image {
		text-align: center;
	}
	
	.name {
		font-family: 'Source Serif Pro', serif;
		font-size: 1.75rem;
		font-weight: 400;
		color: #5B7B88;
	}
	
	.title {
		margin-bottom: 1rem;
		font-family: 'Source Serif Pro', serif;
		font-size: 1rem;
		font-weight: 700;
		color: #5B7B88;
	}
}

// Sessions
.session {
	margin-bottom: 2rem;
	
	.title {
		font-family: 'Source Serif Pro', serif;
		font-size: 1.75rem;
		font-weight: 400;
		color: #5B7B88;
	}
	
	.speaker {
		margin-bottom: 1rem;
		font-family: 'Source Serif Pro', serif;
		font-size: 1rem;
		font-weight: 700;
		color: #5B7B88;
	}
}

// Sponsors
// Gold B79E00
// Silver A29FA0
// Bronze C4900D
// Community 5DA3AD
.sponsors {
	h2 {
		padding: 0 0.5rem;
		
		&.gold {
			background: #B79E00;
			color: #fff;
		}
		&.silver {
			background: #A29FA0;
			color: #fff;
		}
		&.bronze {
			background: #C4900D;
			color: #fff;
		}
		&.community {
			background: #5DA3AD;
			color: #fff;
		}
	}
	
	.lucky.sponsor.grid {
		justify-content: center;
		.column {
			margin-bottom: 2rem;
			text-align: center;
		}
	}
}

// Footer
#site>footer {
	clear: both;
	padding: 2rem;
	font-size: 0.9rem;
	line-height: 2;
}

// Tablet Styles
@media (min-width: $small-screen) {

	// Main Menu
	.lucky.menu,
	.lucky.menu .left,
	.lucky.menu .right {
		flex-direction: row;
	}

	.lucky.menu .left {
		@include lucky-menu-left;
	}
	.lucky.menu .right {
		@include lucky-menu-right;
	}
	.lucky.logo.menu .right {
		padding: 1rem;
	}
	.lucky.main.menu {
		padding: 0 1rem;
	}
	.lucky.main.menu .label {
		padding: 1rem 0.8rem;
	}

	// Header
	#site>header h1 {
		padding: 4rem 2rem 6rem;
		font-size: 4.25rem;
	}

	// Content
	#site>main {
		padding: 2rem 10vw;
	}

	// Columns
	// Half
	.speaker.grid .column {
		@include lucky-column('half');
	}
	.silver.sponsor.grid .column {
		@include lucky-column('half');
		
		img { max-width: 300px; }
	}
	// Third
	.bronze.sponsor.grid .column {
		@include lucky-column('third');
		
		img { max-width: 300px; }
	}
	// Quarter
	.community.sponsor.grid .column {
		@include lucky-column('quarter');
		
		img { max-width: 200px; }
	}

}

// Desktop Styles
@media (min-width: $medium-screen) {

	// Header
	#site>header h1 {
		padding: 6rem 0 12rem;
	}

	// Footer
	#site>footer {
		line-height: 1.5rem;
	}

	// Columns
	// Half
	.form.grid .column,
	.two.column.grid .column {
		@include lucky-column('half');
	}
	// Third
	.speaker.grid .picture.column {
		@include lucky-column('third');
	}
	// Two Third
	.speaker.grid .bio.column {
		@include lucky-column('two-third');
	}

}

// Large Desktop Styles
@media (min-width: $large-screen) {

	// Columns
	// Quarter
	.speaker.grid .picture.column {
		@include lucky-column('quarter');
	}
	// Three Quarter
	.speaker.grid .bio.column {
		@include lucky-column('three-quarter');
	}

}
