/* Lucky Forms */
.form { margin-bottom: 2rem; }
.form input:not([type]),
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
	display: inline-block;
	width: 100%;
	padding: 0.4rem 0.5rem;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 4px;
}
.form input:not([type]):focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
	outline: none;
	border-color: #497EAC;
	font-family: "fira sans", sans-serif;
	color: #555555;
}
.form input[type="file"] {
	margin-bottom: 0.5rem;
}

.form label {
	font-size: 0.9rem;
	font-family: "fira sans", sans-serif;
	color: #555555;
}
.form .required { color: #c00; }
.form .required::after { content: ' *'; }

.form .field { display: block; margin-bottom: 0.5rem; }
.form fieldset { border: none; padding: 0; }

/* Field Errors */
.form .error.field input {
	border-color: #C00;
	border-radius: 4px 4px 0 0;
}
.form .error.field .error {
	padding: 0.4rem 0.5rem;
	background: #c00;
	color: #fff;
	border-radius: 0 0 4px 4px;
}
.form .form__note { padding: 0.5rem; }

/* button Area */
.form .buttons {
	text-align: right;
}
.buttons .button {
	display: inline-block;
	margin: 0;
	padding: 0.4rem 1rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	text-decoration: none;
	background: #4372A7;
	border:none;
	cursor: pointer;
	border-radius: 4px;
}
.buttons .button:hover {
	background: #002659;
}
.buttons .button:active {
	background: #4372A7;
}
.buttons .disabled.button,
.buttons .button:disabled {
	background: #eee;
	color: #999;
	cursor: default;
}
