@import "sanitize";
@import "menu";
@import "grid";
@import "button";

h1,h2,h3,h4,h5,h6,p,ol,ul,footer {
	font-weight: 400;
}
a {
	color: #E56D7C;
}
hr {
	display: block;
	margin: 2rem auto;
	width: 80%;
	border: none;
	border-bottom: 1px solid #5B7B88;
}

.lucky.button {
	background: transparent;
	color: #fff;
	font-family: 'Source Serif Pro', serif;
	border: 1px solid #fff;
	border-radius: 4px;
}
.lucky.button:hover {
	background: #fff;
	color: #5B7B88;
}

#site>header .logo.menu {
	padding: 1.375rem;
	color: #fff;
}
#site>header .logo.menu .right {
	padding: 1rem;
}
#site>header .logo.menu .item {
	text-align: center;
	padding: 0;
}
#site>header .logo.menu img {
	height: 4.125rem;
}
#site>header .logo.menu .lucky.button {
	width: 100%;
}
#site>header h1 {
	margin: 0;
	padding: 1rem 2rem 4rem;
	font-size: 3.75rem;
	text-align: center;
	line-height: 1.2;
	color: #fff;
}

.lucky.main.menu {
	border-bottom: 1px solid #5B7B88;
}
.lucky.main.menu .item {
	padding: 1rem 0.8rem;
	font-family: 'Source Serif Pro', serif;
	font-size: 1.125;
	color: #5B7B88;
}
.lucky.main.menu .header.item {
	font-weight: 700;
	text-transform: none;
}
.lucky.main.menu .item:not(.header):hover {
	background: #5B7B88;
	color: #fff;
}

@media (min-width: 35.5em) {
	#site>header .logo.menu .lucky.button {
		width: auto;
	}
	#site>header h1 {
		padding: 4rem 2rem 6rem;
		font-size: 4.25rem;
	}
	.lucky.main.menu {
		padding-right: 1rem;
		justify-content: flex-end;
	}
}

@media (min-width: 48.1em) {
	#site>header h1 {
		padding: 6rem 0 12rem;
	}
}


// ==========================================

@import "forms";

// Blue 5B7B88

#site>main {
	padding: 2rem;
}
#site>main .notice {
	font-size: 1.75rem;
	text-align: center;
}
#site>main>.lucky.grid>.column {
	padding: 0 1rem;
}

.tickets>.ticket {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #5B7B88;
	
	&:last-child {
		border-bottom: none;
	}
}

section.text {
	margin-bottom: 2rem;
}
section.image {
	overflow: hidden;
}
section.image aside.left {
	float: left;
	padding-right: 2rem;
	padding-bottom: 2rem;
}
section.image aside.right {
	float: right;
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.lucky.speaker.grid .column {
	margin-bottom: 2rem;
}
.lucky.speaker.grid .image {
	text-align: center;
}
.lucky.speaker.grid .name {
	font-family: 'Source Serif Pro', serif;
	font-size: 1.75rem;
	font-weight: 400;
	color: #5B7B88;
}
.lucky.speaker.grid .title {
	margin-bottom: 1rem;
	font-family: 'Source Serif Pro', serif;
	font-size: 1rem;
	font-weight: 700;
	color: #5B7B88;
}

#site>footer {
	clear: both;
	padding: 2rem;
	font-size: 0.9rem;
}
