{% extends "emails/_layout" %}

{% block content %}
	<h1>Receipt</h1>
	<p>Thank you for registering to Craftini!</p>
	
	<table>
		<thead><tr>
			<th class="item">Item</th>
			<th class="actions"></th>
			<th class="price">Price</th>
		</tr></thead>
		<tbody>
			{% for item in order.getLineItems %}
				<tr>
					<td class="item">
						<strong>{{ item.description }}</strong><br>
						{% if item.options.attendeeName is defined %}
							<em>{{ item.options.attendeeName }} - {{ item.options.attendeeEmail }}</em>
						{% endif %}
						{% if item.options.attendeeNames is defined %}
							{% set names = item.options.attendeeNames|split("\n") %}
							{% set emails = item.options.attendeeEmails|split("\n") %}
							{% for k,v in names[:4] %}
								<em>{{ v }} - {{ attribute(emails,k) }}</em><br>
							{% endfor %}
						{% endif %}
					</td>
					<td class="price">{{ item.price|currency(order.currency) }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td class="total" colspan="2">Total: {{ order.totalPrice|currency(order.currency) }}</td>
			</tr>
		</tbody>
	</table>
	
	<h2>Questions?</h2>
	<p>
		Contact Bryan Redeagle at 219-671-7402 or
		<a href="mailto:info@craftini.net">info@craftini.net</a>
	</p>
{% endblock content %}