{% cache %}
	{% for b in entry.body %}
		{% switch b.type %}
			{% case 'headerBlock' %}
			<h{{ b.size }}>{{ b.textContent }}</h{{ b.size }}>

			{% case 'textBlock' %}
			<section class="text">{{ b.textContent }}</section>

			{% case 'imageAsideBlock' %}
			<section class="image text">
				<aside class="{{ b.imagePosition }}">{% set image = b.imageContent.first %}
					<figure>
						<img src="{{ image.url }}" alt="{{ image.title }}">
						{% if image.photographerName %}<figcaption>Photo by <a href="{{ image.photographerUrl }}">{{ image.photographerName }}</a></figcaption>{% endif %}
					</figure>
				</aside>
				{{ b.textContent }}
			</section>

			{% case 'twoColumnBlock' %}
			<section class="lucky two column grid">
				<div class="left column">{{ b.leftColumn }}</div>
				<div class="right column">{{ b.rightColumn }}</div>
			</section>

			{% case 'embedBlock' %}
			<section class="embed"><div class="lucky embed">{{ b.code|raw }}</div></section>
		{% endswitch %}
	{% endfor %}
{% endcache %}
