<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% hook 'seomaticRender' %}
		<link rel="icon" type="image/png" href="{{ url('favicon.png') }}" />
		<style media="screen">{{ source('critical.css') }}</style>
		<script src="{{ url('bundle.js') }}" charset="utf-8" defer></script>
		{% set banner = extra.banners.order('RAND()').limit(1) %}
		<style type="text/css">{{ include('banner.css', {banner: banner}) }}</style>
	</head>
	<body>
		<div id="site">
			<header>
				<nav class="lucky logo menu">
					<div class="left">
						<a class="item" href="{{ siteUrl }}" title="{{ siteName }}"><img src="{{ url('assets/images/logo.svg') }}" alt="{{ siteName }}"></a>
					</div>
					<div class="right">
						{#<div href="item"><a class="lucky button" href="{{ url('register') }}">Buy Tickets</a></div>#}
					</div>
				</nav>
				{% if entry is defined and entry.slug == "homepage" %}<h1>{{ extra.dateAndLocation }}</h1>{% endif %}
			</header>
			<nav class="lucky main menu">
				<div class="left">{% if entry is not defined or entry.slug != "homepage" %}<div class="header item"><div class="label">{{ extra.dateAndLocation }}</div></div>{% endif %}</div>
				<div class="right">
					<a class="item" href="{{ url('speakers') }}"><div class="label">Speakers</div></a>
					<a class="item" href="{{ url('sessions') }}"><div class="label">Sessions</div></a>
					<a class="item" href="{{ url('sponsors') }}"><div class="label">Sponsors</div></a>
					<a class="item" href="{{ url('contact') }}"><div class="label">Contact</div></a>
				</div>
			</nav>
			<main>
				{% if craft.session.hasFlash('notice') %}<div class="success flash">{{ craft.session.getFlash('notice') }}</div>{% endif %}
				{% if craft.session.hasFlash('error') %}
					<div class="error flash">
						{{ craft.session.getFlash('error') }}
						{% set craftiniErrors = craft.craftini.getErrors %}
						{% set cartErrors = cart.getErrors %}
						{% if craftiniErrors %}<ul>{% for err in craftiniErrors %}<li>{{ err }}</li>{% endfor %}</ul>{% endif %}
						{% if cartErrors %}<ul>{% for err in cartErrors %}<li>{{ err }}</li>{% endfor %}</ul>{% endif %}
					</div>
				{% endif %}
				
				{% block content %}{% endblock %}
			</main>
			<footer>
				&copy; <a href="http://capsuledx.com" target="_blank">Capsule DX, LLC.</a><br>
				Built with <a href="https://craftcms.com" target="_blank">Craft CMS</a> &bull;
				Hosted with <a href="https://www.serverpilot.io/?refcode=8b1ad04b43cd" target="_blank">ServerPilot</a> on <a href="https://m.do.co/c/e0d22815d4db" target="_blank">Digital Ocean</a><br>
				<a href="{{ url('code') }}">Code of Conduct</a> &bull;
				{% for image in banner %}Photo by <a href="{{ image.photographerUrl }}">{{ image.photographerName }}</a>.{% endfor %}
			</footer>
		</div>
	</body>
</html>
