#site>header{
	background: #5B7B88 no-repeat center center;
	{% for image in banner %}
		background-image:url({{ entry is defined and entry.slug == "homepage" ? image.getUrl('bigBanner') : image.getUrl('smallBanner') }});
	{% endfor %}
	background-size: cover;
}
