{% extends '_layout' %}

{% block content %}
	<h1>Sessions</h1>
	{% if craft.entries.section('session')|length %}
		
			<section class="sessions">
				{% for s in craft.entries.section('session') %}
					<div class="session">
						<div class="title">{{ s.title }}</div>
						<div class="speaker">
							{%- for speaker in s.speaker -%}
								<a href="{{ url('speakers') }}#{{ speaker.slug }}">{{ speaker.title }}</a>
							{%- endfor -%}
						</div>
						<div class="description">{{ s.description }}</div>
					</div>
				{% endfor %}
			</section>
		
	{% endif %}
{% endblock %}
