{% extends '_layout' %}

{% block content %}
	{% if craft.entries.section('speaker')|length %}
		{% cache %}
			<section class="lucky speaker grid">
				{% for s in craft.entries.section('speaker') %}
					<div class="picture column">
						<div class="image">{% for i in s.photo %}<img src="{{ i.getUrl('square') }}" alt="{{ s.title }} Photo">{% endfor %}</div>
					</div>
					<div id="{{ s.slug }}" class="bio column">
						<div class="name">{{ s.title }}</div>
						<div class="title">{{ s.jobTitle }}{{ s.company ? ' - ' ~ s.company }}</div>
						<div class="bio">{{ s.description }}</div>
					</div>
				{% endfor %}
			</section>
		{% endcache %}
	{% endif %}

	{% if entry.form|length %}
		<div class="lucky form grid">
			<div class="text column">
				{% include '_body' %}
			</div>
			<div class="form column">
				{{ craft.amForms.displayForm(entry.form.first().handle) }}
			</div>
		</div>
	{% else %}
		{% include '_body' %}
	{% endif %}
{% endblock %}
