{% extends '_layout' %}

{% set sponsors = craft.entries({section: 'sponsor', with: ['sponsorLevel']}) %}
{% set sponsorsByLevel = sponsors | group('sponsorLevel[0].title') %}

{% block content %}
	{% include '_body' %}
	
	<div class="sponsors">
		{% for l, s in sponsorsByLevel %}
			<h2 class="{{ l | lower }}">{{ l }}</h2>
			<section class="lucky {{ l | lower }} sponsor grid">
				{% for item in s %}
					<div class="column">
						<a href="{{ item.externalLink }}" title="{{ item.title }}" target="_blank">
							<img src="{{ item.logo.first.url }}" alt="{{ item.title }}">
						</a>
					</div>
				{% endfor %}
			</section>
		{% endfor %}
	</div>
{% endblock %}
